.board-container {
	min-width: 300px;
	width: 300px;
	background: #ebecf0;
	border-radius: 4px;
	padding: 4px;
	height: max-content;
	box-sizing: border-box;
}

.board-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 4px;
	margin-bottom: 4px;
	gap: 8px;
}

.board-title {
	margin: 0;
	flex: 1;
	font-family: inherit;
	font-size: 14px;
	font-weight: 600;
	cursor: default;
	padding: 0 4px;
	color: rgba(0, 0, 0, 0.8);
	outline: none;
}

.header-option-button {
	padding: 8px;
	border: none;
	border-radius: 4px;
	background: none;
	cursor: pointer;
}

.header-option-button:hover {
	background: rgba(0, 0, 0, 0.1);
}

.tasks-list {
	display: flex;
	flex-direction: column;
	padding: 0 4px;
	transition: height 0.8s ease;
}

.add-card-button {
	width: calc(100% - 8px);
	margin: 4px;
	/* margin-top: 8px; */
	padding: 4px 8px;
	box-sizing: border-box;
	font-family: inherit;
	font-size: 14px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	color: #5e5e5e;
	border: none;
	cursor: pointer;
	border-radius: 4px;
	gap: 4px;
}

.add-card-button:hover {
	background: rgba(0, 0, 0, 0.1);
}